{erl_opts, [
    {parse_transform, lager_transform}
]}.

{deps, [
    % let it always be the first
    {lager, "2.0.1",
        {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {ezk, "0.1.*",
        {git, "git@github.com:EchoTeam/ezk.git", {tag, "v0.1.0"}}}
]}.

{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
